<mat-card class="mat-elevation-z8">

    <img mat-card-image
         class="photo-profile"
         alt="Profile"
         [src]="me.header_photo" />


    <mat-card-header>
        <img mat-card-avatar
             alt="Profile"
             [src]="me.profile_photo" />
        <mat-card-title>{{me.name}} {{me.surname}}</mat-card-title>
        <mat-card-subtitle>{{me.job}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            {{me.description}}
        </p>
    </mat-card-content>

    <mat-card-footer fxLayout="row"
                     fxLayoutAlign="center center">
        <app-social></app-social>
    </mat-card-footer>

</mat-card>