<silvelo-title-header></silvelo-title-header>
<mat-card class="mat-elevation-z8"
          *ngIf="me">

    <img mat-card-image
         class="photo-profile"
         alt="Profile"
         [src]="me.header_photo" />


    <mat-card-header>
        <img mat-card-avatar
             alt="Profile"
             [src]="me.profile_photo" />
        <mat-card-title>{{me.name}} {{me.surname}}</mat-card-title>
        <mat-card-subtitle>{{me.job}}</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
        <p [innerHTML]="me.description | translate"></p>
    </mat-card-content>

    <mat-card-content>
        Skills

        <silvelo-skills></silvelo-skills>
    </mat-card-content>


</mat-card>