:host ::ng-deep .mat-tab-group {
    height: 100%;
}

:host ::ng-deep .mat-tab-body-wrapper {
    flex-grow: 1;
    padding  : 0 10px;
}

:host ::ng-deep .mat-tab-body {
    display       : flex !important;
    flex-direction: column;
}

:host ::ng-deep .mat-tab-body-content {
    display       : flex;
    flex-direction: column;
    flex-grow     : 1;
}