<ng-container *transloco="let t">
  <img
    class="w-full mx-auto px-4 my-4 md:max-w-sm max-w-[16rem]"
    [src]="this.themeModeService.logoImage | async"
    alt="Logo" />

  <section class="flex flex-col flex-1 justify-center">
    <a
      (click)="toggle.emit()"
      *ngFor="let nav of sidenav"
      mat-list-item
      [routerLinkActiveOptions]="{ exact: nav.exact }"
      [routerLinkActive]="['dark:bg-blue-300', 'bg-gray-200', 'text-lg', 'text-black', 'font-bold']"
      (click)="toggle.emit()"
      [routerLink]="nav.link"
      class="mb-2 py-2 border-y-2 border-black dark:border-white hover:bg-gray-200 dark:hover:bg-blue-300 dark:hover:text-black">
      <fa-icon
        class="mx-4"
        [icon]="['fas', nav.icon]"></fa-icon>
      <span>{{ t(nav.name) }}</span>
    </a>
  </section>

  <section class="mb-4 flex flex-col justify-center items-center">
    <a
      target="_blank"
      href="https://buttercms.com">
      <img
        class="w-full mx-auto px-4 my-4 md:max-w-sm max-w-[15rem]"
        [src]="this.themeModeService.butterImage | async"
        alt="buttercms logo" />
    </a>

    <silvelo-languages />

    <div class="flex mt-2 items-center">
      <small class="mr-4">{{ t('common.version') }} {{ version }}</small>
      <div
        (click)="toggleDarkMode()"
        class="hover:cursor-pointer">
        <fa-icon
          *ngIf="!this.themeModeService.darkMode"
          [icon]="['far', 'sun']"></fa-icon>
        <fa-icon
          *ngIf="this.themeModeService.darkMode"
          [icon]="['far', 'moon']"></fa-icon>
      </div>
    </div>
  </section>
</ng-container>
