<app-header (toggle)="snav.toggle()"></app-header>

<mat-sidenav-container>
    <mat-sidenav #snav
                 position="end"
                 fxLayoutAlign="center center">
        <mat-nav-list *ngIf="sidenav"
                      fxFill
                      fxLayout="column"
                      fxLayoutAlign="center center">
            <a mat-list-item
               [routerLink]="nav.link"
               *ngFor="let nav of sidenav">{{nav.name}}</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="container">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>