<app-header (toggle)="snav.toggle()"></app-header>

<mat-sidenav-container>
    <mat-sidenav #snav
                 fxLayout="column"
                 fxLayoutAlign="space-between center">

        <mat-nav-list *ngIf="sidenav"
                      fxFlex
                      fxLayout="column"
                      fxLayoutAlign="center center">
            <a mat-list-item
               (click)="snav.toggle()"
               [routerLink]="nav.link"
               fxLayout="row"
               fxLayoutAlign="start center"
               *ngFor="let nav of sidenav">
                <fa-icon fxFlex="15"
                         [icon]="['fas', nav.icon]"></fa-icon>
                <span fxFlex="85">{{nav.name}}</span>
            </a>
        </mat-nav-list>
        <small class="version"
               fxLayoutAlign="start ">v{{version}}</small>

    </mat-sidenav>

    <mat-sidenav-content class="container">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>