<app-header (toggle)="snav.toggle()"
            [show]="mobileQuery.matches"></app-header>

<mat-sidenav-container>
    <mat-sidenav #snav
                 [opened]="!mobileQuery.matches"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 fxLayout="column"
                 fxLayoutAlign="space-between center">
        <app-navbar (toggle)="closeSidenav(snav)"
                    [theme]="theme$ | async"></app-navbar>

    </mat-sidenav>

    <mat-sidenav-content class="container">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>