<mat-toolbar color="primary"
             fxLayout="row"
             fxLayoutAlign="space-between center">
    <div fxLayout="row"
         fxLayoutAlign="start center">
        <button mat-icon-button
                (click)="toggle.emit()"
                aria-label="search">
            <mat-icon>menu</mat-icon>
        </button>

        <span>Silvelo Portfolio</span>
    </div>
    <!-- <mat-slide-toggle>Dark Theme</mat-slide-toggle> -->
    <mat-slide-toggle (change)="themService.setDarkTheme($event.checked)"
                      [checked]="themService.getDarkTheme() | async">
        <mat-icon>brightness_2</mat-icon>
    </mat-slide-toggle>

</mat-toolbar>