<mat-toolbar color="primary"
             fxLayout="row"
             fxLayoutAlign="space-between center">
    <div fxLayout="row"
         fxLayoutAlign="start center">
        <button mat-icon-button
                *ngIf="show"
                (click)="toggle.emit()"
                aria-label="menu">
            <fa-icon class="fa-2x"
                     [icon]="['fas','bars']"></fa-icon>
        </button>

        <span>Silvelo Portfolio</span>
    </div>
    <mat-slide-toggle (change)="themService.setDarkTheme($event.checked)"
                      [checked]="themService.getDarkTheme() | async">
        <fa-icon class="icon-margin"
                 [icon]="['fas','moon']"></fa-icon>
    </mat-slide-toggle>

</mat-toolbar>