@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .mat-card {
    margin: 20px;
  }

  .mat-card-header-text {
    width: 100%;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config !=null {
    @include color($theme);
  }
}
