@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    .mat-drawer {
        width: 250px;
    }
    
    .mat-drawer-container {
        height: 100%;
    }
    
   .mat-drawer-inner-container {
        flex-direction: column !important;
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);

    @if $color-config !=null {
        @include color($theme);
    }

}