<silvelo-common-card [image]="education.institution_logo"
                     [title]="education.institution"
                     [subtitle]="education.degree">
      <div subtitle
           class="flex flex-row justify-between">
            <silvelo-range-date [showIcon]="true"
                                [start_date]="education.start_date"
                                [end_date]="education.end_date">
            </silvelo-range-date>
            <silvelo-rate [rate]="education.grade"
                          [showIcon]="true"></silvelo-rate>
      </div>

</silvelo-common-card>