@use '@angular/material'as mat;

$silvelo-dark-primary: mat.define-palette(mat.$pink-palette);
$silvelo-dark-accent : mat.define-palette(mat.$pink-palette, A200, A100, A400);
$silvelo-dark-warn   : mat.define-palette(mat.$red-palette);

$silvelo-black-theme: mat.define-dark-theme((color: (primary: $silvelo-dark-primary,
            accent: $silvelo-dark-accent,
            warn: $silvelo-dark-warn,
        )));