@use '@angular/material' as mat;

@include mat.core();



$light-theme-primary: mat.define-palette(mat.$indigo-palette, 700, 300, 900);
$light-theme-accent : mat.define-palette(mat.$indigo-palette);
$light-theme-warn   : mat.define-palette(mat.$indigo-palette, A200);

$light-theme: mat.define-light-theme((color: (primary: $light-theme-primary,
                accent: $light-theme-accent,
                warn: $light-theme-warn)));

    
