@use '@angular/material' as mat;


@use './components/cards-theme' as cards;
@use './components/tabs-theme' as tabs;
@use './components/drawer-theme' as drawer;

@include mat.core();


 .light-theme {
    $light-theme-primary: mat.define-palette(mat.$indigo-palette, 700, 300, 900);
    $light-theme-accent : mat.define-palette(mat.$indigo-palette);
    $light-theme-warn   : mat.define-palette(mat.$indigo-palette, A200);



    $light-theme: mat.define-light-theme((color: (primary: $light-theme-primary,
                    accent: $light-theme-accent,
                    warn: $light-theme-warn)));

    @include mat.all-component-themes($light-theme);

    @include cards.theme($light-theme);
    @include tabs.theme($light-theme);
    @include drawer.theme($light-theme); 
} 