<mat-tab-group
  mat-stretch-tabs
  headerPosition="below"
  (selectedTabChange)="onChangeTab()">
  <mat-tab [label]="'NAVBAR.EXPERIENCE' | translate">
    <silvelo-content-card title="">
      <section class="flex gap-4 flex-col">
        <silvelo-experience-card
          [experience]="experience"
          *ngFor="let experience of experienceList" />
      </section>
    </silvelo-content-card>
  </mat-tab>
  <mat-tab [label]="routeNames.PUBLICATIONS | translate">
    <silvelo-content-card title="">
      <section class="flex gap-4 flex-col">
        <silvelo-publication-card
          [publication]="publication"
          *ngFor="let publication of publications" />
      </section>
    </silvelo-content-card>
  </mat-tab>
</mat-tab-group>
