<ng-container *transloco="let t">
  <silvelo-card>
    <silvelo-card-header>
      <img
        silvelo-card-xl-image
        *ngIf="experience.company_logo"
        [src]="experience.company_logo"
        [alt]="experience.company_name" />
      <silvelo-card-title-group>
        <silvelo-card-title>{{ experience.job }}</silvelo-card-title>
        <silvelo-card-subtitle>{{ experience.company_name }}</silvelo-card-subtitle>

        <silvelo-card-title-right>
          <fa-icon
            class="mr-2"
            [icon]="['fas', 'calendar']" />
          <span>
            {{ experience.start_date | date: 'yyyy' }}<ng-container *ngIf="!experience.current"> - {{ experience.end_date | date: 'yyyy' }}</ng-container>
          </span>
        </silvelo-card-title-right>
      </silvelo-card-title-group>
    </silvelo-card-header>
    <silvelo-card-content *ngIf="experience.description">
      {{ t(experience.description) }}
    </silvelo-card-content>
  </silvelo-card>
</ng-container>
