<div class="flex flex-col flex-1">
  <div class="flex items-center">
    <ng-content select="silvelo-card-title, [silvelo-card-title], [silveloCardTitle]"></ng-content>
    <ng-content select="silvelo-card-title-right, [silvelo-card-title-right], [silveloCardTitleRight]"></ng-content>
  </div>
  <div class="flex items-center">
    <ng-content select="silvelo-card-subtitle, [silvelo-card-subtitle], [silveloCardSubtitle]"></ng-content>
    <ng-content select="silvelo-card-subtitle-right, [silvelo-card-subtitle-right], [silveloCardSubtitleRight]"></ng-content>
  </div>
</div>
<ng-content></ng-content>
