<div *ngFor="let social of socialList"
     [ngSwitch]="social.id">
    <div *ngSwitchCase="'github'">
        <a mat-icon-button
           (click)="onClick(social.link)"
           aria-label="Github">
            <fa-icon size="2x"
                     [icon]="['fab','github']"></fa-icon>
        </a>
    </div>
    <div *ngSwitchCase="'linkedin'">
        <a mat-icon-button
           (click)="onClick(social.link)"
           aria-label="Linkedin">
            <fa-icon size="2x"
                     [icon]="['fab','linkedin']"></fa-icon>
        </a>
    </div>
    <div *ngSwitchCase="'email'">
        <a mat-icon-button
           href="mailto:{{social.link}}"
           aria-label="Email">
            <fa-icon size="2x"
                     [icon]="['far', 'envelope']"></fa-icon>
        </a>
    </div>
</div>