<div *ngFor="let social of socialList"
     [ngSwitch]="social.id">
    <div *ngSwitchCase="'github'">
        <button mat-icon-button
                (click)="onClick(social.link)">
            <fa-icon size="2x"
                     [icon]="['fab','github']"></fa-icon>
        </button>
    </div>
    <div *ngSwitchCase="'linkedin'">
        <button mat-icon-button
                (click)="onClick(social.link)">
            <fa-icon size="2x"
                     [icon]="['fab','linkedin']"></fa-icon>
        </button>
    </div>
    <div *ngSwitchCase="'email'">
        <a mat-icon-button
           href="mailto:{{social.link}}">
            <fa-icon size="2x"
                     [icon]="['far', 'envelope']"></fa-icon>
        </a>
    </div>
</div>