<mat-tab-group
  mat-stretch-tabs
  headerPosition="below">
  <mat-tab [label]="routeNames.EDUCATION | translate">
    <silvelo-content-card title="">
      <section class="flex gap-4 flex-col">
        <silvelo-education-card
          *ngFor="let education of educationList"
          [education]="education" />
      </section>
    </silvelo-content-card>
  </mat-tab>

  <mat-tab [label]="routeNames.COURSES | translate">
    <silvelo-content-card title="">
      <section class="flex gap-4 flex-col">
        <silvelo-certification-card
          *ngFor="let certification of certifications"
          [certification]="certification" />
      </section>
    </silvelo-content-card>
  </mat-tab>

  <mat-tab [label]="routeNames.AWARDS | translate">
    <silvelo-content-card title="">
      <section class="flex gap-4 flex-col">
        <silvelo-award-card
          [award]="award"
          *ngFor="let award of awards" />
      </section>
    </silvelo-content-card>
  </mat-tab>
</mat-tab-group>
