<mat-tab-group
  mat-stretch-tabs
  headerPosition="below"
  backgroundColor="primary">
  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon
        class="mr-2"
        [icon]="['fas', 'graduation-cap']" />
      {{ routeNames.EDUCATION | translate }}
    </ng-template>
    <section class="flex flex-1 flex-col gap-4 p-4">
      <silvelo-education-card
        *ngFor="let education of educationList"
        [education]="education" />
    </section>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon
        class="mr-2"
        [icon]="['fas', 'bookmark']" />
      {{ routeNames.COURSES | translate }}
    </ng-template>
    <section class="flex flex-1 flex-col gap-4 p-4">
      <silvelo-certification-card
        *ngFor="let certification of certifications"
        [certification]="certification" />
    </section>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon
        class="mr-2"
        [icon]="['fas', 'trophy']" />
      {{ routeNames.AWARDS | translate }}
    </ng-template>
    <section class="flex flex-1 flex-col gap-4 p-4">
      <silvelo-award-card
        [award]="award"
        *ngFor="let award of awards" />
    </section>
  </mat-tab>
</mat-tab-group>
