<img
  class="w-full mx-auto px-4 my-4 md:max-w-sm max-w-[15rem]"
  src="/assets/images/logo-black.png"
  alt="Logo" />

<section class="flex flex-col flex-1 justify-center">
  <mat-nav-list>
    <a
      *ngFor="let nav of sidenav"
      mat-list-item
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active-route"
      (click)="toggle.emit()"
      [routerLink]="nav.link"
      class="border-2 mb-2">
      <fa-icon
        class="mr-4"
        [icon]="['fas', nav.icon]"></fa-icon>
      <span>{{ nav.name }}</span>
    </a>
  </mat-nav-list>
</section>

<section class="mb-4 flex flex-col justify-center items-center">
  <a
    target="_blank"
    href="https://buttercms.com">
    <img
      class="w-full mx-auto px-4 my-4 md:max-w-sm max-w-[15rem]"
      src="/assets/images/butter-b.png"
      alt="buttercms logo" />
  </a>

  <silvelo-languages />

  <silvelo-version />
</section>
