<img class="avatar"
     src="https://cdn.buttercms.com/pwKIS23RhyxXS2Cx4R2B" />


<h3 class="name">Arturo <span>Silvelo</span></h3>
<p class="job">Javascript Full Stack Developer</p>
<div class="social">
    <ul>
        <li><a href="#"><i class="icon-facebook-squared"></i></a></li>
        <li><a href="#"><i class="icon-twitter-squared"></i></a></li>
        <li><a href="#"><i class="icon-behance-squared"></i></a></li>
        <li><a href="#"><i class="icon-linkedin-squared"></i></a></li>
    </ul>
</div>