<ng-container *transloco="let t">
  <silvelo-card>
    <silvelo-card-header>
      <img
        silvelo-card-lg-image
        *ngIf="portfolio.photo"
        [src]="portfolio.photo"
        [alt]="portfolio.title" />
      <silvelo-card-title-group>
        <silvelo-card-title>{{ portfolio.title }}</silvelo-card-title>
        <silvelo-card-title-right>
          <a
            silvelo-icon-button
            [href]="portfolio.url"
            target="_blank">
            <fa-icon
              size="xl"
              [icon]="['fab', 'github']" />
          </a>
        </silvelo-card-title-right>
        <silvelo-card-subtitle class="flex flex-wrap gap-2">
          <div
            *ngFor="let lang of portfolio.languages"
            class="inline-block font-bold rounded p-1 text-xs text-slate-900 dark:text-white tracking-tight"
            [ngStyle]="{ 'background-color': lang.color }">
            {{ lang.language }}
          </div>
        </silvelo-card-subtitle>
      </silvelo-card-title-group>
    </silvelo-card-header>
    <silvelo-card-content>
      {{ t(portfolio.description) }}
    </silvelo-card-content>
  </silvelo-card>
</ng-container>
