@use '@angular/material'as mat;

@include mat.core();

@import './styles/themes/light-theme.scss';
/* @import './styles/themes/black-theme.scss'; */

@include mat.all-component-themes($silvelo-light-theme);

/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
}

body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
  margin-top   : 10px;
  margin-bottom: 10px;
}

.mat-tab-group {
  height: 100%;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
  padding  : 0 10px;
}

.mat-tab-body {
  display       : flex !important;
  flex-direction: column;
}

.mat-tab-body-content {
  display       : flex;
  flex-direction: column;
  flex-grow     : 1;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}

.mat-card-subtitle,
.mat-card-content {
  font-size: 14px;
}

.margin-header-remove .mat-card-header-text {
  margin: 0;
}

.margin-subtitle-remove .mat-card-subtitle {
  margin-bottom: 0;
}

.mat-card-actions {
  padding: 0 !important;
}

/* 
.silvelo-light-theme {
  @include mat.all-component-themes($silvelo-light-theme);
}

.silvelo-dark-theme {
  @include mat.all-component-themes($silvelo-black-theme);
} */