<mat-nav-list *ngIf="sidenav"
              fxFlex
              fxLayout="column"
              fxLayoutAlign="center center">
    <a mat-list-item
       [routerLinkActiveOptions]="{exact: true}"
       routerLinkActive="active-route"
       (click)="toggle.emit()"
       [routerLink]="nav.link"
       fxLayout="row"
       fxLayoutAlign="start center"
       *ngFor="let nav of sidenav">
        <fa-icon fxFlex="15"
                 [icon]="['fas', nav.icon]"></fa-icon>
        <span fxFlex="85">{{nav.name}}</span>
    </a>
</mat-nav-list>

<div class="version"
     *ngIf="theme"
     fxLayout="row"
     fxLayoutAlign="start center">
    <small>Powered By</small>
    <img class="butter_logo"
         [src]="theme"
         alt="buttercms logo">
</div>
<small class="version"
       fxLayoutAlign="start ">Current version: {{version}}</small>