<silvelo-logo [logo]="theme.logo"
              class="mt-4"></silvelo-logo>

<mat-nav-list *ngIf="sidenav"
              fxFlex
              fxLayout="column"
              fxLayoutAlign="center center">


    <a mat-list-item
       [routerLinkActiveOptions]="{exact: true}"
       routerLinkActive="active-route"
       (click)="toggle.emit()"
       [routerLink]="nav.link"
       fxLayout="row"
       fxLayoutAlign="start center"
       *ngFor="let nav of sidenav">
        <fa-icon fxFlex="15"
                 [icon]="['fas', nav.icon]"></fa-icon>
        <span fxFlex="85">{{nav.name | translate}}</span>
    </a>
</mat-nav-list>

<section class="m-2">
    <div class="version"
         *ngIf="theme"
         fxLayout="row"
         fxLayoutAlign="space-between center">
        <span>{{'NAVBAR.POWER_BY' | translate}}</span>
        <a target="_blank"
           href="https://buttercms.com"><img class="butter_logo"
                 [src]="theme.butter"
                 alt="buttercms logo">
        </a>
    </div>



    <silvelo-languages fxLayoutAlign="center center"></silvelo-languages>

    <silvelo-version fxLayoutAlign="center center"></silvelo-version>

    <silvelo-toggle-theme fxLayoutAlign="center center"></silvelo-toggle-theme>
</section>