<silvelo-logo class="my-2 self-center"
              [logo]="theme.logo"></silvelo-logo>


<mat-nav-list fxFlex
              class="flex flex-auto flex-col justify-center content-center">


    <a mat-list-item
       class="flex-row justify-start items-center"
       [routerLinkActiveOptions]="{exact: true}"
       routerLinkActive="active-route"
       (click)="toggle.emit()"
       [routerLink]="nav.link"
       *ngFor="let nav of sidenav">
        <fa-icon class="basis-1/4"
                 [icon]="['fas', nav.icon]"></fa-icon>
        <span class="basis-3/4">{{nav.name | translate}}</span>
    </a>
</mat-nav-list>

<section class="m-2 flex flex-col">
    <div class="version"
         *ngIf="theme"
         class="flex flex-row justify-between items-center">
        <span>{{'NAVBAR.POWER_BY' | translate}}</span>
        <a target="_blank"
           href="https://buttercms.com"><img class="butter_logo"
                 [src]="theme.butter"
                 alt="buttercms logo">
        </a>
    </div>



    <silvelo-languages class="flex items-center self-center"></silvelo-languages>

    <div class="flex flex-row justify-around">
        <silvelo-version></silvelo-version>

        <silvelo-toggle-theme></silvelo-toggle-theme>
    </div>
</section>