<ng-container *transloco="let t">
  <silvelo-card>
    <silvelo-card-header>
      <img
        *ngIf="award.issued_logo"
        silvelo-card-lg-image
        [src]="award.issued_logo"
        [alt]="award.issued" />
      <silvelo-card-title-group>
        <silvelo-card-title>{{ award.title }}</silvelo-card-title>
        <silvelo-card-title-right>
          <fa-icon
            class="mr-2"
            [icon]="['fas', 'calendar']" />
          <span> {{ award.expedition_date | date: 'yyyy' }} </span>
        </silvelo-card-title-right>
        <silvelo-card-subtitle>{{ award.issued }}</silvelo-card-subtitle>
      </silvelo-card-title-group>
    </silvelo-card-header>
    <silvelo-card-content>
      {{ award.description }}
    </silvelo-card-content>

    <silvelo-card-actions>
      <a
        color="primary"
        mat-stroked-button
        *ngFor="let testimonial of award.testimonials.split(',')"
        target="_blank"
        [href]="testimonial">
        <fa-icon [icon]="['fas', 'share-from-square']" />
        <span class="ml-2">{{ t('buttons.showPublication') }}</span>
      </a>
    </silvelo-card-actions>
  </silvelo-card>
</ng-container>
