<silvelo-card>
  <silvelo-card-header>
    <img
      silvelo-card-lg-image
      [src]="certification.company_logo"
      [alt]="certification.company" />
    <silvelo-card-title-group>
      <silvelo-card-title class="flex-1 text-lg text-gray-800 font-bold leading-none">{{ certification.name }}</silvelo-card-title>
      <silvelo-card-title-right>
        <fa-icon
          class="mr-2"
          [icon]="['fas', 'calendar']" />
        <span>
          {{ certification.expedition_date | date: 'yyyy' }}<ng-container *ngIf="certification.expires">- {{ certification.expiration_date }}</ng-container>
        </span>
      </silvelo-card-title-right>
      <silvelo-card-subtitle class="flex-1 text-gray-500 my-1">{{ certification.company }}</silvelo-card-subtitle>
      <silvelo-card-subtitle-right>
        <a
          mat-icon-button
          color="primary"
          [href]="certification.url"
          target="_blank">
          <fa-icon [icon]="['fas', 'share-from-square']" />
        </a>
      </silvelo-card-subtitle-right>
    </silvelo-card-title-group>
  </silvelo-card-header>
</silvelo-card>
