<mat-card *ngFor="let portfolio of portfolioList"
          class="mat-elevation-z4">
    <mat-card-header>
        <mat-card-title>{{portfolio.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image
         *ngIf="portfolio.photo"
         [src]="portfolio.photo"
         alt="Project photo">
    <mat-card-content>
        <p>{{portfolio.description}}</p>
    </mat-card-content>
    <mat-card-actions align="start">
        <a mat-icon-button
           angulartics2On="click"
           angularticsAction="click"
           angularticsLabel="view"
           angularticsValue="portfolio"
           [angularticsCategory]="portfolio.url"
           [href]="portfolio.url"
           target="_blank">
            <fa-icon [icon]="['fas','external-link']"></fa-icon>
        </a>
    </mat-card-actions>
</mat-card>